extends layout

block content
	.container
		.row.jumbotron
			.col-md-9
				h2="Posts in : " + category
				if posts.length > 0
					each post, i in posts
						.jumbotron
							.container
								a(href='/posts/view/'+post._id)
									h2=post.title
								h6.meta By #{post.author}, on #{moment(post.date).format("Do MMM, YYYY")} #{(post.category)?" In "+post.category:""}
								hr
								.pbody
									!=post.body
								hr
								a.btn.btn-dark.btn-lg(href='/posts/view/'+post._id) Read More &raquo;

				else
					h1.display-4 There are no new posts.
			.col-md-3
				h2 Categories
				ul.categories
					each category in categories
						li
							a(href='/posts/category/' + category.category)=category.category